$icons: (
        sprite: (width: 104px, height: 2166px, pngPath: '../img/svg-sprite.png', svgPath: '../img/svg-sprite.svg'),
arrow-left: (width: 47px, height: 34px, backgroundX: 0px, backgroundY: 0px),
arrow-right: (width: 47px, height: 34px, backgroundX: 0px, backgroundY: -44px),
arrow-showing-more: (width: 33px, height: 30px, backgroundX: 0px, backgroundY: -88px),
arrow-vertical-next: (width: 53px, height: 53px, backgroundX: 0px, backgroundY: -128px),
arrow-vertical-prev: (width: 53px, height: 53px, backgroundX: 0px, backgroundY: -191px),
checkbox: (width: 21px, height: 20px, backgroundX: 0px, backgroundY: -254px),
checkbox-checked: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -284px),
ic-addr-cancel: (width: 34px, height: 35px, backgroundX: 0px, backgroundY: -315px),
ic-addr-edit: (width: 34px, height: 35px, backgroundX: 0px, backgroundY: -360px),
ic-addr-save: (width: 34px, height: 35px, backgroundX: 0px, backgroundY: -405px),
ic-apple: (width: 47px, height: 47px, backgroundX: 0px, backgroundY: -450px),
ic-awards: (width: 65px, height: 36px, backgroundX: 0px, backgroundY: -507px),
ic-basket: (width: 23px, height: 23px, backgroundX: 0px, backgroundY: -553px),
ic-basket-active: (width: 23px, height: 23px, backgroundX: 0px, backgroundY: -586px),
ic-basket-blue: (width: 50px, height: 40px, backgroundX: 0px, backgroundY: -619px),
ic-basket-blue-plus: (width: 31px, height: 23px, backgroundX: 0px, backgroundY: -669px),
ic-basket-hover: (width: 23px, height: 23px, backgroundX: 0px, backgroundY: -702px),
ic-basket-white: (width: 50px, height: 40px, backgroundX: 0px, backgroundY: -735px),
ic-basket-white-plus: (width: 31px, height: 23px, backgroundX: 0px, backgroundY: -785px),
ic-callback: (width: 23px, height: 22px, backgroundX: 0px, backgroundY: -818px),
ic-clip: (width: 8px, height: 18px, backgroundX: 0px, backgroundY: -850px),
ic-close-sm: (width: 11px, height: 12px, backgroundX: 0px, backgroundY: -878px),
ic-close-sm-active: (width: 11px, height: 12px, backgroundX: 0px, backgroundY: -900px),
ic-close-social: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -922px),
ic-comparing: (width: 25px, height: 17px, backgroundX: 0px, backgroundY: -951px),
ic-comparing-active: (width: 25px, height: 17px, backgroundX: 0px, backgroundY: -978px),
ic-dislike: (width: 14px, height: 13px, backgroundX: 0px, backgroundY: -1005px),
ic-envelope: (width: 22px, height: 16px, backgroundX: 0px, backgroundY: -1028px),
ic-favorite: (width: 22px, height: 19px, backgroundX: 0px, backgroundY: -1054px),
ic-favorite-active: (width: 22px, height: 19px, backgroundX: 0px, backgroundY: -1083px),
ic-in-basket: (width: 19px, height: 17px, backgroundX: 0px, backgroundY: -1112px),
ic-like: (width: 14px, height: 13px, backgroundX: 0px, backgroundY: -1139px),
ic-login: (width: 19px, height: 20px, backgroundX: 0px, backgroundY: -1162px),
ic-login-active: (width: 19px, height: 20px, backgroundX: 0px, backgroundY: -1192px),
ic-login-mobile: (width: 16px, height: 17px, backgroundX: 0px, backgroundY: -1222px),
ic-marker: (width: 15px, height: 20px, backgroundX: 0px, backgroundY: -1249px),
ic-mc: (width: 38px, height: 30px, backgroundX: 0px, backgroundY: -1279px),
ic-moon: (width: 73px, height: 73px, backgroundX: 0px, backgroundY: -1319px),
ic-more-products: (width: 39px, height: 11px, backgroundX: 0px, backgroundY: -1402px),
ic-newpost: (width: 23px, height: 22px, backgroundX: 0px, backgroundY: -1423px),
ic-pass: (width: 23px, height: 12px, backgroundX: 0px, backgroundY: -1455px),
ic-pass-active: (width: 26px, height: 17px, backgroundX: 0px, backgroundY: -1477px),
ic-plus: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -1504px),
ic-present-card: (width: 58px, height: 36px, backgroundX: 0px, backgroundY: -1535px),
ic-promocode: (width: 17px, height: 22px, backgroundX: 0px, backgroundY: -1581px),
ic-search: (width: 23px, height: 24px, backgroundX: 0px, backgroundY: -1613px),
ic-search-mobile: (width: 20px, height: 21px, backgroundX: 0px, backgroundY: -1647px),
ic-sending-blue: (width: 19px, height: 17px, backgroundX: 0px, backgroundY: -1678px),
ic-share: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -1705px),
ic-share-bag: (width: 20px, height: 20px, backgroundX: 0px, backgroundY: -1731px),
ic-share-bag-blue: (width: 20px, height: 20px, backgroundX: 0px, backgroundY: -1761px),
ic-share-sphere: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -1791px),
ic-share-sphere-blue: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -1820px),
ic-share-white: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -1849px),
ic-startup: (width: 73px, height: 73px, backgroundX: 0px, backgroundY: -1875px),
ic-subs: (width: 74px, height: 52px, backgroundX: 0px, backgroundY: -1958px),
ic-track: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -2020px),
ic-visa: (width: 56px, height: 19px, backgroundX: 0px, backgroundY: -2049px),
logo-turumburum: (width: 94px, height: 17px, backgroundX: 0px, backgroundY: -2078px),
review-mini: (width: 12px, height: 11px, backgroundX: 0px, backgroundY: -2105px),
star-mini: (width: 10px, height: 10px, backgroundX: 0px, backgroundY: -2126px),
star-mini-full: (width: 10px, height: 10px, backgroundX: 0px, backgroundY: -2146px),
);