<div class="subs-section">
    <div class="container">
        <div class="subs-holder">
            <div class="title-holder">
                <div class="title-h2">Подпишись на рассылку</div>
                <div class="title-note-row">и получи 100 грн на покупку</div>
            </div>
            <div class="section-container">
                <form action="" class="subs-form form_validate">
                    <div class="subs-box">
                        <div class="input-holder field">
                            <input type="text" data-validate="required-email" class="input form-control">
                            <label class="label-input">Ваш e-mail</label>
                        </div>
                        <button type="submit" class="btn btn-submit">
                            <span>Подписаться</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>